@import url('https://fonts.cdnfonts.com/css/gotham-6');

* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
    scroll-behavior: smooth;
}

/* ___________ BARRA DE NAVEGAÇÃO ______________*/

.nav-bar {
    background-color: transparent !important;
    width: 100%;
    padding: 30px 1%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.4s;
}

.nav-bar.scrolar {
    background-color: #5792FF !important;
    padding: 20px 1%;
    -webkit-box-shadow: -1px 7px 27px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 7px 27px -7px rgba(0,0,0,0.75);
    box-shadow: -1px 7px 27px -7px rgba(0,0,0,0.75);
}

.nav-bar.scrolar a {
    color: rgb(255, 255, 255) !important;
}

.nav-bar ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav-bar ul li a{
    color: rgba(33, 37, 41, 0.75);
    text-decoration: none;
}


.navega-texto a{
    color: #5792FF !important;
}

.hamburg {
    color: #ffffff !important;
    border-color: #ffffff !important;
}
/* ___________ BARRA DE NAVEGAÇÃO ______________*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url('../img/wallpaper.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-top p {
    font-size: 20px;
    color: white;
    font-size: 100px;
}

span {
    color: rgb(87, 146, 255);
}

p {
    color: white;
}

h1 {
    font-size: 100px;
}

.showimg img {
    transition: all 0.4s;
    cursor: pointer;
}

.showimg img:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}

.direitos {
    color: rgba(255, 255, 255, 0.466) !important;
}

h6 {
    color: #fff !important;
}

.icon {
    color: #fff;
    font-size: 10vh;
}

.icons {
    color: #fff;
    font-size: 30px;
    transition: all .5s;
}

.icons:hover {
    color: rgb(87, 146, 255);
    transition: all .5s;
}

.carousel-item img {
    transition: all 0.4s;
    filter: blur(3px) !important;
}
.carousel-item img:hover {
    filter: blur(0px) !important;
    transition: all 0.4s;
}
/* ___________ TEXTO NA IMAGEM ______________*/
.dados {
    bottom: 100px;
    right: 20px;
}
.text {
    color: #fff !important; 
    position: absolute;
    top: 50px;
    left: 56%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.295);
    width: 42vh;
}

@media(max-width: 1399px) {
    .text {
        color: #fff !important; 
        position: absolute;
        top: 50px;
        left: 56%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 400;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.295);
        width: 38vh;
    }
}

@media(max-width: 1199px) {
    .text {
        color: #fff !important; 
        position: absolute;
        top: 50px;
        left: 56%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 400;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.295);
        width: 32vh;
    }
}

@media(max-width: 992.20px) {
    .text {
        color: #fff !important; 
        position: absolute;
        top: 50px;
        left: 56%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 400;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.295);
        width: 20vh;
    }
}

@media(max-width: 575.80px) {
    .text {
        color: #fff !important; 
        position: absolute;
        top: 50px;
        left: 56%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 400;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.295);
        width: 55vh;
    }
}

.noticiaimg img{
    width: 100%;
    height: auto;
    filter: blur(1px) !important;
    transition: all 0.4s;
}

.noticiaimg img:hover {
    filter: blur(0px) !important;
    transition: all 0.4s;
}
/* ___________ TEXTO NA IMAGEM ______________*/