@import url('https://fonts.cdnfonts.com/css/gotham-6');

* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

/* ___________ BARRA DE NAVEGAÇÃO ______________*/

.nav-bar {
    background-color: transparent !important;
    width: 100%;
    padding: 30px 1%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.4s;
}

.nav-bar.scrolar {
    background-color: #000 !important;
    padding: 20px 1%;
}

.nav-bar.scrolar a {
    color: rgb(87, 146, 255);
}

.nav-bar ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav-bar ul li a{
    color: rgba(33, 37, 41, 0.75);
    text-decoration: none;
}

.nav-bar span {
    text-decoration: none;
    color: #6affa3;
}

/* ___________ BARRA DE NAVEGAÇÃO ______________*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    background-image: url('../img/7758997.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-top p {
    font-size: 20px;
    color: white;
    font-size: 100px;
}

span {
    color: rgb(87, 146, 255);
}

p {
    color: white;
}

h1 {
    font-size: 100px;
}

.showimg img {
    transition: all 0.4s;
    cursor: pointer;
}

.showimg img:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}

.direitos {
    color: rgba(255, 255, 255, 0.466) !important;
}

h6 {
    color: #fff !important;
}

.icon {
    color: #fff;
    font-size: 10vh;
}

.icons {
    color: #fff;
    font-size: 30px;
    transition: all .5s;
}

.icons:hover {
    color: rgb(87, 146, 255);
    transition: all .5s;
}

